force-app/main/default/flows/Update_Loyalty_Points_on_Order_Completion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>Update_Loyalty_Formula</name>
        <dataType>Number</dataType>
        <expression>{!Find_Loyalty_Program_Record.Points_Balance_c__c} + ({!$Record.Total_Amount_c__c} * 0.1)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Loyalty Points on Order Completion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Loyalty Points on Order Completion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Loyalty_Program_Record</name>
        <label>Find Loyalty Program Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Loyalty_Points</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_c__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Loyalty_Program_c__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Loyalty_Points</name>
        <label>Update Loyalty Points</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_c__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Points_Balance_c__c</field>
            <value>
                <elementReference>Update_Loyalty_Formula</elementReference>
            </value>
        </inputAssignments>
        <object>Loyalty_Program_c__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Loyalty_Program_Record</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status_c__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </filters>
        <object>Order_c__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
